*.asc
*.asv
*.bnd
*.h5
*.h5.out
*.jdf
*.mat
*.sdf
*.simdef
*.siminfo
*.swp
*.swo
*.swn
*.swm
*.swl
*.tmp
*.pkl
.ignore/
.pytest_cache/

__pycache__/
*.py[cod]

*.m~

.idea/
*.o
*.egg-info/**

doc/_build/**
_build/**

.coverage
.mypy_*

.log20*/
*.log
.coverage*

.DS_Store
